h1{
	font-size: 30px;
	font-style: Courier;
	color: red;
	font-weight: bolder;
	text-align: center;
	
}

p{
	font-size: 20px;
	font-style: Times;
	color: blue;
	font-weight: lighter;
	text-align: left;
}

ol{
	font-size: 15px;
	font-style: sans-serif;
	color: purple;
	font-weight: lighter;
	text-align: left;	
}